{% extends "base.html" %}

{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}


{% block content %}

<div class="col-sm-6 col-sm-offset-3">
	
	{% if instance.image %}
  		<img src="{{ instance.image.url }}" class="img-responsive"/>
	{% endif %}
	<h1>{{ title }}</h1><br>
	{{ instance.content }}<br>
	<small>Создано: {{ instance.publish }}</small>
	<p>Категория: {{ instance.category }}</p>
	{% if instance.favourite %}
		<p>Избранное</p><br>
	{% endif %}
	<a href="{{ instance.get_absolute_url }}/edit">Изменить</a>
	<a href="{{ instance.get_absolute_url }}/delete">Удалить</a>
</div>

{% endblock content %}
